.home {
  padding: 0;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.projects {
  padding: 80px 0;
}

.contact {
  padding: 80px 0;
  background-color: #f8f9fa;
}
.animated-image {
  transition: transform 0.3s ease-in-out; /* transición suave para la transformación */
}

.animated-image:hover {
  transform: scale(1.1); /*para escalar la imagen al 110% al pasar el mouse encima */
}
